html, body
{
 margin: 0;
 padding: 0;
}

section
{
display: block;
background: #cab2a3;
}

body
{
 width:100%;
 padding:15px;
 margin: auto;
 display:grid;
 font-family: 'Open Sans', sans-serif;
 grid-template-columns: 1fr 2fr;
 grid-template-rows: auto;
}

#colonnegauche
{
	grid-column: 1 / 2;
	background-color: #DE0F3F;
}

#colonnedroite
{	
	grid-column: 2 / 3;
	background-color: #FFFFFF;
}

h1
{
 font-size: 200%; 
 color: navy; 
 text-align: center;
}

h2
{
 float: center;
 font-family: 'Exo 2', sans-serif;
 font-size: 200%; 
 color: #29088A; 
 padding-left: 50px;
}

h3
{
 font-size: 150%; 
 color: black; 
 padding-left: 15px;
}

p,ul,li,td
{
 color: black; 
}

a:link
{
 color: green;
 text-decoration: underline;
}

a:visited
{
 color: gray;
}

a:hover
{
 color: green;
 text-decoration: none;
}

a:active, a:focus
{
 color: red;
}

img
{
vertical-align:middle;
}