html, body
{
 margin: 0;
 padding: 0;
}

section
{
display: block;
background: #cab2a3;
}

body
{
 width:100%;
 padding:auto;
 margin: auto;
 display:grid;
 font-family: 'Open Sans', sans-serif;
 grid-template-columns: 1fr 2fr;
 grid-template-rows: auto;
}

#colonnegauche
{
	grid-column: 1 / 2;
	background-color: #DE0F3F;
	color: white;
}

#colonnedroite
{	
	grid-column: 2 / 3;
	background-color: #FFFFFF;
}

#image
{
	grid-column: 1 / 2;
	grid-row: 1 / 3;
}

header
{
	grid-column: 1 / 3;
	grid-row: 1 / 2;
}

h1
{
 font-size: 200%; 
 color: navy; 
 text-align: center;
}

h2
{
 float: center;
 font-family: 'Exo 2', sans-serif;
 font-size: 200%; 
 color: #FFFFFF; 
 padding-left: 120px;
}

h3
{
 float: center;
 font-family: 'Exo 2', sans-serif;
 font-size: 200%; 
 color: #29088A; 
 padding-left: 50px;
}

h4
{
 font-size: 150%; 
 color: white; 
 padding-left: 15px;
}


#menu
{
	list-style-type: none;
	height : 48px;
	min-width: 600px;
	background : #29088A; /* Barre Catégorie */
	margin: 0px;
	padding : 0px;
	text-align : center;
 	margin: 0;15:12
 	padding: 0;
	border: 0;
 	position: center;
 	top: 0;
 	left: 0;
}

#menu li
{
	display : inline;
	float: absolute;
	width: auto;
	margin-right:0px;
	margin-left:-6px;
	text-align : center;
	margin: 0;
	padding: 0;
	border: 0;
}

#menu a
{
	display : inline-block; /* Ligne où sont placés chacun des menus */
	margin : 0px;
	height : 36px;
	padding-top : 12px;
	padding-left : 20px;
	padding-right : 20px;
	vertical-align: top;
	text-decoration : none;
	font-size : 20px;
	font-weight : bold;
}

#menu li a
{
	color : #FFFFFF; /* Couleur menu horizontal non sélectionné */
}

a:visited
{
 color: white;
}

a:hover
{
 color: yellow;
 text-decoration: none;
}

a:active, a:focus
{
 color: #DE0F3F;
}

img
{
vertical-align:middle;
}

footer
{
	grid-column: 1 / 3;
	grid-row: 4 / 5;
	background-color: #29088A;
	color: white;;
}